@import "tailwindcss";

@theme {
  --color-white-light: #FFFFFF;
  --color-white: #FCFCFC;
  --color-white-dark: #DADADA;
  --color-grey: #979797;
  --color-primary: #94FBAB;
  --color-primary-dark: #6c9f77;
  --color-brand-light: #202D3A;
  --color-brand-dark: #131B23;
  
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

:root {
  --scrollbar-color: rgba(255, 255, 255, 0.5);
  --scrollbar-color-track: rgba(255, 255, 255, 0.05);
  --scrollbar-color-thumb: rgba(255, 255, 255, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-white);;
  background: linear-gradient(
      to bottom left,
      transparent,
      var(--color-brand-dark)
    )
    var(--color-brand-light);
  background-attachment: fixed;
}

:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 3px;
}

:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}

:focus-visible {
  outline: 2px dashed var(--color-primary);
  outline-offset: 3px;
}

* {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-color-track);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-color-track);
  border-radius: 20px;
  margin: 4px 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color-thumb);
  border-radius: 3px;
  border: none;
}
